<a href="https://colab.research.google.com/github/MoohShadox/Web_Semantique_Workshop/blob/master/Lab%2002%20-%20SPARQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 03 : SPARQL
Ce lab sert d'introduction au langage SPARQL qui est un langage d'interrogation de données permettant d'interroger un graphe RDF afin d'en extraire des triplets sur base de "motifs".

La base de données est codée en dur ici pour que le fichier soit un standalone.

In [0]:
!pip install rdflib
import rdflib

In [0]:
database = """<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF
   xmlns:ns1="http://xmlns.com/foaf/0.1/"
   xmlns:ns2="http://www.co-ode.org/ontologies/ont.owl#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
>
  <rdf:Description rdf:about="https://Data#81145628">
    <ns2:description>Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first.</ns2:description>
    <ns2:title>Norm of the North: King Sized Adventure</ns2:title>
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Film"/>
    <ns2:release_year rdf:datatype="http://www.w3.org/2001/XMLSchema#integer">2019</ns2:release_year>
  </rdf:Description>
  <rdf:Description rdf:about="http://www.co-ode.org/ontologies/ont.owl#Acteur">
    <rdf:type rdf:resource="http://www.w3.org/2002/07/owl#Class"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#A1">
    <ns1:givenName>Jonathan</ns1:givenName>
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Acteur"/>
    <ns1:familyName>Holmes</ns1:familyName>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#A11">
    <ns1:givenName>Cole</ns1:givenName>
    <ns1:familyName>Howard</ns1:familyName>
    <ns2:played_in rdf:resource="https://Data#81145628"/>
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Acteur"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#A2">
    <ns2:played_in rdf:resource="https://Data#81145628"/>
    <ns1:familyName>Dobson</ns1:familyName>
    <ns1:givenName>Michael</ns1:givenName>
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Acteur"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#A6">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Acteur"/>
    <ns1:familyName>Toth</ns1:familyName>
    <ns1:givenName>Andrew</ns1:givenName>
    <ns2:played_in rdf:resource="https://Data#81145628"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#80117401">
    <ns2:title>Jandino: Whatever it Takes</ns2:title>
    <ns2:description>Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of "Sex on Fire" in his comedy show.</ns2:description>
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Film"/>
    <ns2:release_year rdf:datatype="http://www.w3.org/2001/XMLSchema#integer">2016</ns2:release_year>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#A7">
    <ns1:familyName>Durupt</ns1:familyName>
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Acteur"/>
    <ns1:givenName>Lisa</ns1:givenName>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#China">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#country"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#A3">
    <ns1:givenName>Alan</ns1:givenName>
    <ns2:played_in rdf:resource="https://Data#81145628"/>
    <ns1:familyName>Marriott</ns1:familyName>
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Acteur"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#Comedies">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#categorie"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#Children&amp;FamilyMovies">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#categorie"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#A10">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Acteur"/>
    <ns1:familyName>Asporaat</ns1:familyName>
    <ns2:played_in rdf:resource="https://Data#80117401"/>
    <ns1:givenName>Jandino</ns1:givenName>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#A8">
    <ns1:givenName>Lee</ns1:givenName>
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Acteur"/>
    <ns2:played_in rdf:resource="https://Data#81145628"/>
    <ns1:familyName>Tockar</ns1:familyName>
  </rdf:Description>
  <rdf:Description rdf:about="http://www.co-ode.org/ontologies/ont.owl#categorie">
    <rdf:type rdf:resource="http://www.w3.org/2002/07/owl#Class"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#A5">
    <ns1:givenName>Brian</ns1:givenName>
    <ns2:played_in rdf:resource="https://Data#81145628"/>
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Acteur"/>
    <ns1:familyName>Dobson</ns1:familyName>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#A9">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Acteur"/>
    <ns1:givenName>Maya</ns1:givenName>
    <ns1:familyName>Kay</ns1:familyName>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#Movie">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#type"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#A4">
    <ns1:givenName>Jennifer</ns1:givenName>
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#Acteur"/>
    <ns1:familyName>Cameron</ns1:familyName>
    <ns2:played_in rdf:resource="https://Data#81145628"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#UnitedStates">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#country"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#India">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#country"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#Stand-UpComedy">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#categorie"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#UnitedKingdom">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#country"/>
  </rdf:Description>
  <rdf:Description rdf:about="https://Data#SouthKorea">
    <rdf:type rdf:resource="http://www.co-ode.org/ontologies/ont.owl#country"/>
  </rdf:Description>
  <rdf:Description rdf:about="http://www.co-ode.org/ontologies/ont.owl#country">
    <rdf:type rdf:resource="http://www.w3.org/2002/07/owl#Class"/>
  </rdf:Description>
  <rdf:Description rdf:about="http://www.co-ode.org/ontologies/ont.owl#type">
    <rdf:type rdf:resource="http://www.w3.org/2002/07/owl#Class"/>
  </rdf:Description>
</rdf:RDF>"""
f=open("test_sparql.rdf","w")
f.write(database)
!cat test_sparql.rdf

In [0]:
graphe = rdflib.Graph()
graphe.parse("test_sparql.rdf")
graphe.serialize("test_sparql_out.rdf","turtle")
!cat test_sparql_out.rdf

## Requètes basiques avec la mot clef 'SELECT'
Les requètes "SELECT" en SPARQL sont plûtot similaires dans leur fonctionnement a leur homonyme en SQL, cependant, les noms de colonnes sont remplacées par des variables et le bloc qui suit le mot clef "WHERE" permet de définir un motif avec des variables et des constantes que la requète va chercher dans le graphe.
Par exemple pour afficher les noms de tous les acteurs il faut chercher : 
- Un certain noeud (appelons le acteur) qui est lié par la relation rdf:type a la ressource ns2:Acteur
- Le même noeud acteur qui est également relié par la relation ns1:givenName a une chaine appelons la "name"
Et ensuite une fois le motif trouvé je retourne "name"
J'utilise la requète suivante :

In [0]:
requete = """
prefix ns1: <http://xmlns.com/foaf/0.1/> 
prefix ns2: <http://www.co-ode.org/ontologies/ont.owl#> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix xml: <http://www.w3.org/XML/1998/namespace> 
prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
SELECT ?name 
WHERE{
?acteur rdf:type ns2:Acteur . 
?acteur ns1:givenName ?name .
}
"""
resultat = graphe.query(requete)

In [0]:
for i in resultat:
    print(i)

Comme on peut le voire parcourir le résultat permet d'afficher les résultats de la requète sous forme de tuples dont la longueur dépend du nombre de variables précisés dans la requète SELECT

A noter également la déclaration des prefixes qui est similaire en SPARQL a la déclaration faite dans une fichier sérialisé en turtle a la différence prés que les prefixes ne sont pas précédés par des @ et ne sont pas suivis par des points.

Maintenant en modifiant un peu la requète je peux par exemple récupérer leur nom de famille :

In [0]:
requete = """
prefix ns1: <http://xmlns.com/foaf/0.1/> 
prefix ns2: <http://www.co-ode.org/ontologies/ont.owl#> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix xml: <http://www.w3.org/XML/1998/namespace> 
prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
SELECT ?name 
WHERE{
?acteur rdf:type ns2:Acteur . 
?acteur ns1:familyName ?name .
}
"""
resultat = graphe.query(requete)
for i in resultat:
    print(i)

Nous pouvons également chercher des motifs plus complexes, par exemples je vais afficher les noms des acteurs et les films dans lesquels ils ont joués (en sachant que j'ai altéré la base de donnée de manière a ce que certains acteurs n'aient joués dans aucun film)

In [0]:
requete = """
prefix ns1: <http://xmlns.com/foaf/0.1/> 
prefix ns2: <http://www.co-ode.org/ontologies/ont.owl#> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix xml: <http://www.w3.org/XML/1998/namespace> 
prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
SELECT ?name ?film
WHERE{
?acteur rdf:type ns2:Acteur . 
?acteur ns1:familyName ?name .
?film rdf:type ns2:Film .
?acteur ns2:played_in ?film
}
"""
resultat = graphe.query(requete)
for i in resultat:
    print(i)

ça marche mais on aimerait avoir le titre du film donc on peut encore modifier la requète

In [0]:
requete = """
prefix ns1: <http://xmlns.com/foaf/0.1/> 
prefix ns2: <http://www.co-ode.org/ontologies/ont.owl#> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix xml: <http://www.w3.org/XML/1998/namespace> 
prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
SELECT ?name ?titre
WHERE{
?acteur rdf:type ns2:Acteur . 
?acteur ns1:familyName ?name .
?film rdf:type ns2:Film .
?acteur ns2:played_in ?film .
?film ns2:title ?titre
}
"""
resultat = graphe.query(requete)
for i in resultat:
    print(i)

On va maintenant s'intéresser a une question qui peut nous passer par la tête.
Et si je mentionne une variable dans le SELECT mais qui n'est liée a rien dans le motif comme par exemple dans la requète suivante, que ce passe il ?

In [0]:
requete = """
prefix ns1: <http://xmlns.com/foaf/0.1/> 
prefix ns2: <http://www.co-ode.org/ontologies/ont.owl#> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix xml: <http://www.w3.org/XML/1998/namespace> 
prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
SELECT ?name ?varibale_inutile
WHERE{
?acteur rdf:type ns2:Acteur . 
?acteur ns1:familyName ?name .
?film rdf:type ns2:Film .
?acteur ns2:played_in ?film .
?film ns2:title ?titre
}
"""
resultat = graphe.query(requete)
for i in resultat:
    print(i)

Dans le cas ou une variable du select n'est lié a rien par le motif on dit qu'elle est "unbound" et elle est représentée dans le résultat par "None".

## Utiliser le mot clef "FILTER" et le mot clef "OPTIONAL"
Les mots clefs "FILTER" et "OPTIONAL" font partie des mots clefs les plus utiles en SPARQL car ils permettent respectivement de filtrer les triplets résultants, et de définir une partir du motif facultative comme nous le verrons dans ce qui suit

Pour commencer, voila comment utiliser le mot clef FILTER pour filtrer les acteur afin de ne garder que ceux dont le nom commence par la lettre H.
La fonction Filter garde un tuple si l'expression qui lui est donnée en paramètre renvoie vraie.
Ici la fonction a utiliser est la fonction regex qui prend comme premier paramètre une variable et comme second une expression régulière et qui retourne vraie si l'expression régulière match le contenu de la variable.

In [0]:
requete = """
prefix ns1: <http://xmlns.com/foaf/0.1/> 
prefix ns2: <http://www.co-ode.org/ontologies/ont.owl#> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix xml: <http://www.w3.org/XML/1998/namespace> 
prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
SELECT ?name ?film
WHERE { 
?acteur rdf:type ns2:Acteur . 
?acteur ns1:familyName ?name .
?film rdf:type ns2:Film .
?acteur ns2:played_in ?film
FILTER regex(?name, "^H") 
}
"""
resultat = graphe.query(requete)
for i in resultat:
    print(i)

Analysons a présent le fonctionnement du mot clef optionnal.
Comme je l'ai précisé plus haut j'ai altéré la base de données afin qu'il y ait des acteurs qui n'aient joués dans rien.

In [0]:
requete = """
prefix ns1: <http://xmlns.com/foaf/0.1/> 
prefix ns2: <http://www.co-ode.org/ontologies/ont.owl#> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix xml: <http://www.w3.org/XML/1998/namespace> 
prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
SELECT ?name 
WHERE{
?acteur rdf:type ns2:Acteur . 
?acteur ns1:familyName ?name .
?film rdf:type ns2:Film .
?acteur ns2:played_in ?film .
?film ns2:title ?titre
}
"""
resultat = graphe.query(requete)
for i in resultat:
    print(i)
print("Nombre de reponses :",len(list(resultat)))

In [0]:
requete = """
prefix ns1: <http://xmlns.com/foaf/0.1/> 
prefix ns2: <http://www.co-ode.org/ontologies/ont.owl#> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix xml: <http://www.w3.org/XML/1998/namespace> 
prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
SELECT ?name
WHERE{
?acteur rdf:type ns2:Acteur . 
?acteur ns1:familyName ?name .
}
"""
resultat = graphe.query(requete)
for i in resultat:
    print(i)
print("Nombre de reponses :",len(list(resultat)))

A présent imaginons qu'on veuille créer une requète qui retourne le nom du film si l'acteur a jouer dans un film.

In [0]:
requete = """
prefix ns1: <http://xmlns.com/foaf/0.1/> 
prefix ns2: <http://www.co-ode.org/ontologies/ont.owl#> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix xml: <http://www.w3.org/XML/1998/namespace> 
prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
SELECT ?name ?titre
WHERE{
?acteur rdf:type ns2:Acteur . 
?acteur ns1:familyName ?name .
OPTIONAL{
?film rdf:type ns2:Film .
?acteur ns2:played_in ?film .
?film ns2:title ?titre
}
}
"""
resultat = graphe.query(requete)
for i in resultat:
    print(i)
print("Nombre de reponses :",len(list(resultat)))

Il suffit donc simplement d'entourer la partie optionnelle par un bloc "OPTIONAL", nous remarquons d'ailleurs que quand l'acteur n'a pas joué dans un film la variable film n'est pas lié elle reste donc "unbound".
Ceci permet par la combinaison des mots clefs OPTIONAL et FILTER et en utilisant la fonction "bound" qui renvoie vrai si la variable est liée de récupérer les acteurs qui n'ont pas joué dans des films comme suit :

In [0]:
requete = """
prefix ns1: <http://xmlns.com/foaf/0.1/> 
prefix ns2: <http://www.co-ode.org/ontologies/ont.owl#> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix xml: <http://www.w3.org/XML/1998/namespace> 
prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
SELECT ?name ?titre
WHERE{
?acteur rdf:type ns2:Acteur . 
?acteur ns1:familyName ?name .
OPTIONAL{
?film rdf:type ns2:Film .
?acteur ns2:played_in ?film .
?film ns2:title ?titre
}
FILTER(!bound(?film))
}
"""
resultat = graphe.query(requete)
for i in resultat:
    print(i)
print("Nombre de reponses :",len(list(resultat)))

Ce mécanisme permet donc de reproduire la division du langage de requètes algébriques, division qui est assez compliquée a utiliser en SQL ou on doit utiliser des IF EXISTS imbriqués sur plusieurs niveaux.

#### Le mot clef "UNION"
Le mot clef union permet de fusionner deux graphes rdf ce qui représente un aventage majeur de la représentation par graphe rdf par rapport a la représentation sous forme de table qu'on retrouve en SQL.

In [0]:
requete = """
prefix ns1: <http://xmlns.com/foaf/0.1/> 
prefix ns2: <http://www.co-ode.org/ontologies/ont.owl#> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
prefix xml: <http://www.w3.org/XML/1998/namespace> 
prefix xsd: <http://www.w3.org/2001/XMLSchema#> 
SELECT ?name ?film
WHERE { 

# Bloc qui récupère les acteurs dont le nom commence par H
{
?acteur rdf:type ns2:Acteur . 
?acteur ns1:familyName ?name .
?film rdf:type ns2:Film .
?acteur ns2:played_in ?film
FILTER regex(?name, "^H") 
}

UNION 


# Bloc qui récupère les acteurs dont le nom commence par A
{
?acteur rdf:type ns2:Acteur . 
?acteur ns1:familyName ?name .
?film rdf:type ns2:Film .
?acteur ns2:played_in ?film
FILTER regex(?name, "^A") 
}

}
"""
resultat = graphe.query(requete)
for i in resultat:
    print(i)

### Remarques : 
- L'instruction FILTER peut prendre n'importe quel expression logique par exemple on peut imaginer utiliser ?taille > 189
- Les opérations d'aggrégations qui sont possibles en SQL sont également possibles en SPARQL (GroupBy, Having etc..)
Ce tutoriel n'est pas exhaustif concernant toutes les possibilités du langage SPARQL car ce sont des informations qui sont accessible a n'importe qui via la documentation une fois qu'il a compris la logique des motifs et des variables et le mécanisme bound/unbound.

Je vous conseille néanmoins de travailler avec cet excellent aide-mémoire sous la main : 
http://www.iro.umontreal.ca/~lapalme/ift6282/SparqlRappels.html
Et n'hésitez pas a vous référer a la documentation officielle pour connaitre les manipulations plus complexes que vous pouvez faire c'est trés bien documenté avec beaucoup d'exemples : 
https://www.w3.org/TR/rdf-sparql-query/